# requirements-dev.txt
# --------------------
# This file records the packages and requirements for packages that are needed
# by infrastructure, but not by natcap.invest.
#
# Note that there may be some OS-specific requirements, so be sure to run
# `make check` to verify you have all the required packages.

build
PyInstaller>=6.9.0
requests
rst2html5
setuptools_scm
